.artistImageAndStatement {
	display: flex;
}

.aboutImage {
	width: 25%;
	cursor: pointer;
	flex-shrink: 0;
	padding: 25px 25px 0 0;
}

.paragraphContainer {
	padding-bottom: 10px;
}

.paragraph {
	padding: 5px 0 5px 0;
}

.cv {
	display: flex;
	flex-direction:row;
	gap: 30px;
}

.cvLeft {
	flex-grow: 1;
}

.cvRight {
	flex-grow: 1;
}

.cvBlock {
	display: flex;
	flex-direction: column;
}

.cvTitle {
	display: flex;
	flex-direction: row;
	gap: 5px;
}

.cvImportant {
	font-weight: bold;
}

h4 {
	border-bottom: 2px solid white;
}

@media (max-width: 639px) {
	.artistImageAndStatement {
		flex-direction: column;
	}

	.aboutImage {
		width: 100%;
	}

	.cv {
		flex-direction: column;
		gap: 0;
	}

	.cvTitle {
		flex-direction: column;
		gap: 0;
	}

	.separator {
		display: none;
	}
}