.artworkContainer {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-evenly;
	gap: 20px;

}

.artwork {
	width: 20%;
}

img {
	width: 100%;
	padding: .35rem;
	background-color: #fff;
}

h3 {
	margin-top: -.15rem;
	padding-bottom: .5rem;
}

.home section {
	margin-top: 5rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 1.5rem;
}

@media screen and (max-width: 800px) {
	.artwork {
		width: 40%;
	}
}

@media screen and (max-width: 400px) {
	.artwork {
		width: 60%;
	}
}

@media (max-width: 639px) {
	.home section {
		margin-top: 5rem;
		grid-template-columns: 1fr;
		row-gap: 1rem;
	}
}