.artwork {
	width: 20%;
	cursor: pointer;
}

.whiteBorder {
	padding: .35rem;
	background-color: var(--header-background-color);
	margin-bottom: -5px;
}

.availableTag {
	padding: .35rem;
	background-color: #fff;
}