header {
	display: flex;
	background-color: var(--header-background-color);
	color: #fff;
}

header h1 {
	font-family: "Comfortaa", sans-serif;
	font-weight: bold;
	display: flex;
	flex-grow: 1;
	padding: 2rem;
}

header nav {
	font-family: "Comfortaa", sans-serif;
	font-weight: light;
	display: flex;
	align-content: center;
}

header a {
	padding: 2rem;
	align-content: center;
}

header a:visited {
	color: inherit;
}

header a:active {
	background-color: #0005;
}

header a:hover {
	background-color: #0008;
}